@using SportsStore.WebUI.Models;

@model ProductsListViewModel
@{
    ViewBag.Title = "List";
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("list",
        new { page = x, category = Model.CurrentCategory }))
</div>